body{
    background-color: black;
    color: yellow;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}
.container1{
    display: flex;
    margin: 1rem;
    padding: 1rem;

}
.container2{

    
}